<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a [routerLink]="'/'" class="nav-link active" aria-current="page">Home</a>
          <a [routerLink]="'/config'" class="nav-link active" aria-current="page">Configuration</a>
          <a [routerLink]="'/similarity'" class="nav-link active" aria-current="page">Text similarity</a>
          <a [routerLink]="'/detection'" class="nav-link active" aria-current="page">Language detection</a>
          <a [routerLink]="'/extraction'" class="nav-link active" aria-current="page">Entity Extraction</a>
          <a [routerLink]="'/history'" class="nav-link active" aria-current="page">History</a>
        </div>
      </div>
    </div>
  </nav>
</header>
<div class="container pt-3">
  <router-outlet></router-outlet>
</div>
