<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a [routerLink]="'/'" class="navbar-brand" routerLinkActive="active-link" aria-current="page">Text Analytics</a>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a [routerLink]="'/'" class="nav-link" aria-current="page" routerLinkActive="active-link">Home</a>
          <a [routerLink]="'/config'" class="nav-link" aria-current="page" routerLinkActive="active-link">Configuration</a>
          <a [routerLink]="'/extraction'" class="nav-link" aria-current="page" routerLinkActive="active-link">Entity Extraction</a>
          <a [routerLink]="'/similarity'" class="nav-link" aria-current="page" routerLinkActive="active-link">Text similarity</a>
          <a [routerLink]="'/detection'" class="nav-link" aria-current="page" routerLinkActive="active-link">Language detection</a>
          <a [routerLink]="'/sentiment'" class="nav-link" aria-current="page" routerLinkActive="active-link">Sentiment Analysis</a>
          <a [routerLink]="'/history'" class="nav-link" aria-current="page" routerLinkActive="active-link">History</a>
        </div>
      </div>
    </div>
  </nav>
</header>
<div class="container pt-3">
  <router-outlet></router-outlet>
</div>
