<div>
  <h3>Entity extraction</h3>
  <small>This is a named entity extraction & linking API that performs very well even on short texts, on which many other similar services do not. It currently works on texts in English, French, German, Italian, Portuguese, Russian, Spanish. With this API you will be able to automatically tag your texts, extracting Wikipedia entities and enriching your data.</small>
  <br/>
  <br>
  <form [formGroup]="eeRequest" (submit)="extractEntities()" class="mb-5">
    <div class="form-group">
      <label for="text1">Text</label>
      <input
        type="text"
        class="form-control"
        id="text"
        [formControlName]="'text'"
      />
      <div class="error-message text-danger" *ngIf="eeRequest.get('text')?.errors?.['required']"> Text is required! </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="image"
          [formControlName]="'image'"
        />
        <label class="form-check-label" for="image"> Image </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="abstract"
          [formControlName]="'abstract'"
        />
        <label class="form-check-label" for="abstract"> Abstract </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="categories"
          [formControlName]="'categories'"
        />
        <label class="form-check-label" for="categories"> Categories </label>
      </div>
      <br>
      <label for="confidence" class="form-label">Confidence {{confidence}}</label>
      <input
        type="range"
        class="form-range"
        min="0"
        max="1"
        step="0.1"
        id="confidence"
        [(ngModel)]="confidence"
        [ngModelOptions]="{ standalone: true }"
      />
      <br>
    </div>
    <br>
    <button [disabled]="!eeRequest.valid" type="submit" class="btn btn-primary">Submit</button>
  </form>
        <br>
        <br>
        <div *ngIf="results" class="resultsdiv">
            <h5>Results: </h5>
            <ul *ngFor="let res of annotationResults">
              <li>
                <b>{{ res.spot }}</b>
                <p *ngIf="abstract"><u>ABSTRACT:</u>  {{ res.abstract }}</p>
                <br>
                <p *ngIf="categories"><u>Categories: </u></p>
                <ul *ngFor="let cat of res.categories">
                  <li>
                    {{ cat }}
                  </li>
                </ul>
                <p *ngIf="image"><u>Image: </u></p>
                <img *ngIf="image" [src]="res.image.thumbnail" alt="Image">
              </li>
              <br>
              <hr>
            </ul>
        </div>
</div>
