<div>
    <h3>Text similarity</h3>
    <br />
    <div>
        <form class="mb-5">
            <div class="form-group">
                <label for="text1">Text 1</label>
                <textarea class="form-control" id="text1" rows="3"></textarea>
                <label for="text2">Text 2</label>
                <textarea class="form-control" id="text1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>